#Ejercicio 1: Transformar cadenas

In [114]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
textF = text.split(". ")

In [115]:

#Key words
palabras_clave = ["average", "temperature", "distance"]

In [116]:

#Este for recorre lo que es todo el texto enunciado por enunciado y el segundo for por
#cada bucle que hace el anterior va buscando las palabras claves que se nos piden
for sentence in textF:
    for words in palabras_clave:
        if words in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [117]:
for sentence in textF:
    for words in palabras_clave:
        if words in sentence:
            print(sentence.replace('C', 'Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

#Ejercicio 2: Formateando Cadenas

In [118]:
#Datos que se van a utilizar gravity en kms
planet = 'Tierra'
gravity  = 0.00162
name = 'Luna'

In [119]:
#Creacion de titulo
title1 = """Datos de gravedad sobre la {0}""".format(planet)
title2 = """Datos de gravedad sobre la {}""".format(planet)
title3 = f"""Datos de gravedad sobre la {planet}"""
print(title1)

Datos de gravedad sobre la Tierra

In [120]:
#Creacion de platilla y union de ambas cadenas
sucesos = f"""{title1.title()} 
{'#'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""
print(sucesos)

Datos De Gravedad Sobre La Tierra
################################################################################
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [121]:
#Datos nuevos
planet = 'Marte'
gravity  = 0.00143
name = 'Ganímedes'
title2 = """Datos de gravedad sobre {}""".format(planet)

In [122]:
#Creacion de platilla y union de ambas cadenas
sucesos = f"""{title2.title()} 
{'#'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""
print(sucesos)

#Plantilla con .format() 
sucesosNuevos = """
Datos de la gravedad de la Tierra
#################################################
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity} m/s2 
"""
print(sucesosNuevos.format(planet=planet, name=name, gravity=gravity))
print(sucesosNuevos.format(planet=planet, name=name, gravity=gravity*1000))

Datos De Gravedad Sobre Marte
################################################################################
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2


Datos de la gravedad de la Tierra
#################################################
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2


Datos de la gravedad de la Tierra
#################################################
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2